{% extends "base.html" %}
{% block title %}search{% endblock %}
{% block content %}
<form method="post">
    <div class="form-group">
        <label for="year">年份Year</label>
        <input 
            type="number"               
            class="form-control"
            id="year"
            name="year"
        >
    </div>
    <div class="form-group">
        <label for="profession">所属专业Profession</label>
        <input type="text" list="profession" name="profession"/>
        <datalist id="profession">
            <option value="勘探">勘探</option>
            <option value="开发">开发</option>
            <option value="工程建设">工程建设</option>
            <option value="钻完井">钻完井</option>
            <option value="财务计划">财务计划</option>
            <option value="行政管理">行政管理</option>
        </datalist>
    </div>

    <div class="form-group">
        <label for="detailedProfessionCategory">具体分类Detailed Profession Categary</label>
        <input type="text" list="detailedProfessionCategory" name="detailedProfessionCategory"/>
        <datalist id="detailedProfessionCategory">
            <option value="自定义">自定义</option>
            <option value="AAA">AAA</option>
            <option value="BBB">BBB</option>
            <option value="CCC">CCC</option>
        </datalist>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Download Excel</button>
    
</form>

{% endblock %}